@model Model.EF.Promotion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <h1>Cập nhật thông tin khuyến mãi</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/Admin/Promotion">Khuyến mãi</a></li>
        <li class="active">Cập nhật</li>
    </ol>
}

@section Script_footer{
    <script>

        var editor = CKEDITOR.replace("txtContent", {
            customConfig: '/assets/admin/plugins/ckeditor/config.js',
        });
    </script>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6 col-md-offset-3">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin sản phẩm</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "Promotion", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProID)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProTitle)
                        @Html.TextBoxFor(model => model.ProTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProContent)
                        @Html.TextAreaFor(model => model.ProContent, new { @class = "form-control", @id = "txtContent" })
                        @Html.ValidationMessageFor(model => model.ProContent, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.isActive)
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.isActive)
                                Kích hoạt
                            </label>
                            @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    @Html.ActionLink("Hủy", "Index", new object { }, new { @class = "btn btn-default col-md-offset-1" })
                </div>
            }
        </div>
    </div>
</div>

