@model Model.EF.APP_NOIBAT

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <h1>Thêm mới nổi bật</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/Admin/Noibat">Nổi bật</a></li>
        <li class="active">Thêm mới</li>
    </ol>
}

@*@section Script_footer{
    <script>

        var editor = CKEDITOR.replace("txtContent", {
            customConfig:'~/Assets/admin/plugins/ckeditor/config.js',
        });
    </script>
}*@



<div class="row">
    <!-- left column -->
    <div class="col-md-12 col-md-offset-0">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin nổi bật</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "Noibat", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.LOAI)
                        <select class="form-control" data-val="true" id="LOAI" name="LOAI" onchange="genderChanged(this)" >
                            <option selected="selected" >Chọn Loại</option>
                            <option id="2" value="2" name="2">Video</option>
                            <option id="1" value="1" name="1">Hình Ảnh</option>
                        </select>
                    </div>


                    <script type="text/javascript">
                        function genderChanged(obj) {
                            var message = document.getElementById('show_message');
                            var value = obj.value;
                            if (value === '2') {
                                message.innerHTML = '<textarea class="form-control" cols="20" data-val="true" data-val-length="The field hình ảnh/ Video must be a string with a maximum length of 250." data-val-length-max="250" id="txtContent" name="HINHANH_VIDEO" rows="2"></textarea>';
                            }
                            else if (value === '1') {
                                message.innerHTML = '<input type="File" name="fileUpLoad"/>';
                            }
                        }
                    </script>
                    <div class="form-group">
                        <label for="HINHANH_VIDEO" class="image">Video/Hình Ảnh</label>
                        <p id="show_message"></p>
                        @Html.ValidationMessageFor(model => model.HINHANH_VIDEO, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TRANG_THAI)
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.TRANG_THAI)
                                Kích hoạt
                            </label>
                            @Html.ValidationMessageFor(model => model.TRANG_THAI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    @Html.ActionLink("Hủy", "Index", new object { }, new { @class = "btn btn-default col-md-offset-1" })
                </div>
                }
            </div>
        <!-- /.box -->
    </div>
</div>