@model IEnumerable<Model.EF.INTRODUCE>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Script_footer{
    <script src="~/Assets/admin/js/JSIntroduceController.js"></script>
}

@section header{
    <h1>Quản lý giới thiệu</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/Admin/Promotion">Giới thiệu</a></li>
        <li class="active">Danh sách giới thiệu</li>
    </ol>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
                <h3 class="box-title">Danh sách giới thiệu</h3>
                @using (Html.BeginForm("Index", "Introduce", FormMethod.Get))
                {
                    <div class="box-tools pull-right">
                        <div class="input-group input-group-sm col-md-4 pull-right col-xs-offset-1">
                            <input type="text" class="form-control pull-right" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm" />
                            <div class="input-group-btn">
                                <button type="submit" id="btn-search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="/Admin/Introduce/Create" class="btn btn-info btn-sm"> <i class="fa  fa-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên giới thiệu
                        </th>
                        <th>
                            Nội dung giới thiệu
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Ngày chỉnh sửa
                        </th>
                        <th>
                            Trạng thái
                        </th>

                        <th>Công cụ</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        string classkh = "";
                        if (item.isActive) { classkh = "label label-success"; } else { classkh = "label label-danger"; }
                        string stringkh = "";
                        if (item.isActive) { stringkh = "Kích hoạt"; } else { stringkh = "Khóa"; }
                        <tr id="row_@item.InID">
                            <td>
                                @Html.DisplayFor(modelItem => item.InID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InContent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateAt)
                            </td>
                            <td> <a href="#" data-id="@item.InID " class="btn-status @classkh">@stringkh</a> </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.InID }) |
                                <a href="#" data-id="@item.InID " class="btn-delete">Xóa</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="row">
                    <div class="col-xs-6">
                        <p>Tổng khuyến mãi: <span id="totalRows">@Model.Count()</span></p>
                    </div>
                    <div class="col-xs-6"><ul id="pagination" class=" pagination-sm no-margin pull-right"></ul></div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
    <!-- /.box -->
</div>

